h1 {
    text-align: center;

}
 img {
     width: 100px; /* Ancho deseado */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
  }
    
  table{
    text-align: center;
}
  
